<h1>About CareHub</h1>


</<div class="main">
  <p>
  Vision:  Ease loneliness and isolation through communication
  </p>
  <p>
  Our Mission: We believe communicating with family and friends should be simple and accessible. The CareHub brings simplicity, privacy, and peace of mind to caregivers while rallying support from family and friends.
  </p>
  <p>
  Our Team: We care about the work we do, and the people for whom we do it. We’re an experienced team of problem solvers who believe technology can deliver positive and meaningful change.
  </p>

</div>
