
<div class="main">
  <div class="index-message">
    <h1>One calendar, one list, one update<br>Coordinate care in one place</h1>
    <p>The Care Hub: Connecting with loved ones made easy</p>

    <!-- Display dashboard items if user is logged in -->
    <% if user_signed_in? %>
      <%= render "dashboard" %>

    <!-- Else, display landing page??? -->
    <% else %>
      <p>Display Landing page</p>
    <% end %>

  </div>
</div>
