
<div class="main-content">
  <div class="index-message">
    <h1>One calendar, one list, one update<br>Coordinate care in one place</h1>
    <p>The Care Hub: Connecting with loved ones made easy</p>

    <h2> Calendar Test </h2>
    <%= week_calendar events: @events do |date, events| %>
      <%= date %>

      <% events.each do |event| %>
        <div>
          <%= event.name %>
        </div>
      <% end %>
    <% end %>

    <h2>To Do:</h2>


  </div>
</div>
