<div class="main-content">
  <div class="index-message">
    <h1>One calendar, one list, one update<br>Coordinate care in one place</h1>
    <p>The Care Hub: Connecting with loved ones made easy</p>
  </div>
</div>